.loaderHeader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3e9ff8;
  border-right: 8px solid #aacd06;
  border-bottom: 8px solid #3e9ff8;
  border-left: 8px solid #aacd06;
  width: 24px;
  height: 24px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3e9ff8;
  border-right: 16px solid #aacd06;
  border-bottom: 16px solid #3e9ff8;
  border-left: 16px solid #aacd06;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}