<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content=""></meta>
<meta name="author" content=""></meta>

<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />

<title>督办系统</title>
<link rel="shortcut icon" th:href="@{/favicon.ico}" />
<!-- Bootstrap core CSS -->
<link th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}"
	rel="stylesheet"></link>

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css"
	th:href="@{/DataTables/DataTables-1.10.16/css/jquery.dataTables.min.css}"></link>
<link rel="stylesheet" type="text/css"
	th:href="@{/DataTables/FixedColumns-3.2.4/css/fixedColumns.dataTables.min.css}"></link>
<link rel="stylesheet" type="text/css"
	th:href="@{/DataTables/Buttons-1.5.1/css/buttons.dataTables.min.css}"></link>
<!-- DatePicker css -->
<link rel="stylesheet" type="text/css"
	th:href="@{/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css}"></link>
<style type="text/css">
.customBackgroundColor {
	background-color: #3e9ff8
}

.requiredBorder {
	border: 1px solid red;
}

@media {
	.modal-lg {
		min-width: 1100px;
	}
}
</style>
<!-- jQuery -->
<script th:src="@{/jQuery3/jquery-3.3.1.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
<!-- datatables js -->
<script type="text/javascript"
	th:src="@{/DataTables/DataTables-1.10.16/js/jquery.dataTables.min.js}"></script>

<script type="text/javascript"
	th:src="@{/DataTables/Buttons-1.5.1/js/dataTables.buttons.min.js}"></script>

<script type="text/javascript"
	th:src="@{/DataTables/Buttons-1.5.1/js/buttons.flash.min.js}"></script>

<script type="text/javascript"
	th:src="@{/DataTables/JSZip-2.5.0/jszip.min.js}"></script>

<script type="text/javascript"
	th:src="@{/DataTables/pdfmake-0.1.32/pdfmake.min.js}"></script>

<script type="text/javascript"
	th:src="@{/DataTables/pdfmake-0.1.32/vfs_fonts.js}"></script>

<script type="text/javascript"
	th:src="@{/DataTables/Buttons-1.5.1/js/buttons.html5.min.js}"></script>

<script type="text/javascript"
	th:src="@{/DataTables/Buttons-1.5.1/js/buttons.print.min.js}"></script>

<script type="text/javascript"
	th:src="@{/DataTables/FixedColumns-3.2.4/js/dataTables.fixedColumns.min.js}"></script>
<!-- BootStrap Datepicker -->

<script type="text/javascript"
	th:src="@{/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js}"></script>
<script type="text/javascript"
	th:src="@{/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>

<!-- Custom JS -->
<script type="text/javascript" th:src="@{/wss/js/workitem.js}"></script>
<script type="text/javascript" th:src="@{/wss/js/taskitem.js}"></script>
<script type="text/javascript" th:src="@{/wss/js/maintain.js}"></script>
</head>

<body>

	<div class="container-fluid">

		<div class="row">

			<div class="col-sm-12 col-lg-12">

				<div class="panel-group" id="accordion" role="tablist"
					aria-multiselectable="true">
					<div class="panel panel-info">
						<div class="panel-heading" role="tab" id="headingOne">
							<div class="row">
								<div class="col-sm-9 col-lg-9">
									<h4 class="panel-title">
										<a class="btn" role="button" data-toggle="collapse"
											data-parent="#accordion" href="#collapseOne"
											aria-expanded="true" aria-controls="collapseOne"> 工作项信息 </a>
									</h4>
								</div>
								<div class="col-sm-1 col-lg-1">
									<h4 class="panel-title">
										<a class="btn btn-warning" role="button" onclick="editWorkItem()"> <span
											class="glyphicon glyphicon-pencil"></span> 编辑
										</a>
									</h4>
								</div>
								<div class="col-sm-1 col-lg-1">
									<h4 class="panel-title">
										<a class="btn btn-success" role="button" onclick="updateWorkItem()"> <span
											class="glyphicon glyphicon-floppy-save"></span> 保存
										</a>
									</h4>
								</div>
								<div class="col-sm-1 col-lg-1" style="display:none;">
									<h4 class="panel-title">
										<a class="btn btn-danger" role="button" id="delWorkBtn" 
											th:attr="onclick='delWork('+${workItemBO.workId}+')'"> <span
											class="glyphicon glyphicon-remove-circle"></span> 取消
										</a>
									</h4>
								</div>

							</div>

						</div>
						<div id="collapseOne" class="panel-collapse collapse in"
							role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">

								<form class="form-horizontal" id="add-workitem-form"
									method="POST" name="add-workitem-form"
									th:action="@{/wss/addworkitem}">

									<div class="form-group">

										<label for="workId" class="col-sm-2 col-lg-2 control-label">工作项编号</label>
										<div class="col-sm-4 col-lg-4">
											<input type="text" class="form-control" id="workId"
												name="workId" disabled="disabled"
												th:value="${workItemBO.workId}"></input>
										</div>
										<label for="workType" class="col-sm-2 col-lg-2 control-label">工作项类型</label>
										<div class="col-sm-4 col-lg-4">
											<input type="text" class="form-control" id="workType"
												name="workType" style="display: none"></input> <input
												type="text" class="form-control" id="workTypeDesc"
												name="workTypeDesc" disabled="disabled"
												th:value="${workItemBO.workType}"></input>
										</div>

									</div>
									<div class="form-group">

										<label for="workSummary"
											class="col-sm-2 col-lg-2 control-label">工作项描述</label>
										<div class="col-sm-10 col-lg-10">
											<input type="text" class="form-control" id="workSummary"
												name="workSummary" th:value="${workItemBO.workSummary}" disabled="disabled"></input>
										</div>


									</div>
									<div class="form-group">

										<label for="workDescription"
											class="col-sm-2 col-lg-2 control-label">详细说明</label>
										<div class="col-sm-10 col-lg-10">
											<textarea class="form-control" id="workDescription" rows="3"
												name="workDescription"
												th:text="${workItemBO.workDescription}" disabled="disabled"></textarea>
										</div>


									</div>

									<div class="form-group">

										<label for="reporter" class="col-sm-2 col-lg-2 control-label">录入人</label>
										<div class="col-sm-4 col-lg-4">
											<input type="text" class="form-control" id="reporter"
												name="reporter" disabled="disabled"
												th:value="${workItemBO.reporter}"></input>
										</div>
										<label for="created" class="col-sm-2 col-lg-2 control-label">录入时间</label>
										<div class="col-sm-4 col-lg-4">
											<input type="text" class="form-control" id="created"
												name="created" disabled="disabled"
												th:value="${workItemBO.created}"></input>
										</div>

									</div>




								</form>


							</div>
						</div>
					</div>


					<div class="panel panel-info"
						th:each="taskItemDO,taskItemDOStat : ${workItemBO.taskItemDOList}">
						<div class="panel-heading" role="tab"
							th:attr="id='heading'+${taskItemDOStat.index}">

							<div class="row">
								<div class="col-sm-9 col-lg-9">
									<h4 class="panel-title">
										<a class="collapsed btn" role="button" data-toggle="collapse"
											data-parent="#accordion"
											th:attr="href='#collapse' + ${taskItemDOStat.index} "
											aria-expanded="false" aria-controls="collapse"
											th:attrappend="aria-controls=${'' + taskItemDOStat.index}">
											<span class="glyphicon glyphicon-arrow-down"></span><span
											th:text="${taskItemDO.taskSummary}"></span>
										</a>
									</h4>
								</div>
								<div class="col-sm-1 col-lg-1">
									<h4 class="panel-title">
										<a class="btn btn-warning" role="button" id="editBtn"
											th:attrappend="id=${'' + taskItemDOStat.index}"
											th:attr="onclick='editItem('+${taskItemDOStat.index}+')'">
											<span class="glyphicon glyphicon-pencil"></span> 编辑
										</a>
									</h4>
								</div>
								<div class="col-sm-1 col-lg-1">
									<h4 class="panel-title">
										<a class="btn btn-success" role="button" id="saveBtn"
											th:attrappend="id=${'' + taskItemDOStat.index}"
											th:attr="onclick='saveItem('+${taskItemDOStat.index}+')'">
											<span class="glyphicon glyphicon-floppy-save"></span> 保存
										</a>
									</h4>
								</div>

								<div class="col-sm-1 col-lg-1">
									<h4 class="panel-title">
										<a class="btn btn-danger" role="button" id="delBtn"
											th:attrappend="id=${'' + taskItemDOStat.index}"
											th:attr="onclick='delItem('+${taskItemDOStat.index}+')'">
											<span class="glyphicon glyphicon-remove-circle"></span> 取消
										</a>
									</h4>
								</div>

							</div>


						</div>
						<div th:attr="id='collapse'+ ${taskItemDOStat.index} "
							class="panel-collapse collapse" role="tabpanel"
							aria-labelledby="heading"
							th:attrappend="aria-labelledby=${'' + taskItemDOStat.index}">
							<div class="panel-body">


								<form class="form-horizontal" id="add-taskitem-form"
									method="POST" name="add-workitem-form"
									th:action="@{/wss/addworkitem}">

									<div class="form-group">

										<label for="workTaskNum"
											class="col-sm-2 col-lg-2 control-label">任务项编号</label>
										<div class="col-sm-10 col-lg-10">
											<input type="text" class="form-control" id="taskId"
												th:attrappend="id=${'' + taskItemDOStat.index}"
												name="taskId" disabled="disabled"
												th:value="${taskItemDO.taskId}"></input>
										</div>



									</div>
									<div class="form-group">

										<label for="taskSummary"
											class="col-sm-2 col-lg-2 control-label">任务项描述</label>
										<div class="col-sm-10 col-lg-10">
											<input type="text" class="form-control requiredBorder"
												disabled="disabled" id="taskSummary"
												th:attrappend="id=${'' + taskItemDOStat.index}"
												name="taskSummary" th:value="${taskItemDO.taskSummary}"></input>
										</div>


									</div>
									<div class="form-group">

										<label for="taskDescription"
											class="col-sm-2 col-lg-2 control-label">详细说明</label>
										<div class="col-sm-10 col-lg-10">
											<textarea class="form-control" id="taskDescription"
												th:attrappend="id=${'' + taskItemDOStat.index}" rows="3"
												name="taskDescription"
												th:text="${taskItemDO.taskDescription}" disabled="disabled"></textarea>
										</div>


									</div>

									<div class="form-group">

										<label for="reporterTaskItem"
											class="col-sm-2 col-lg-2 control-label">录入人</label>
										<div class="col-sm-2 col-lg-2">
											<input type="text" class="form-control" id="reporterTaskItem"
												th:attrappend="id=${'' + taskItemDOStat.index}"
												name="reporterTaskItem" th:value="${taskItemDO.reporter}"
												disabled="disabled"></input>
										</div>
										<label for="supervisor"
											class="col-sm-1 col-lg-1 control-label">督办人</label>
										<div class="col-sm-2 col-lg-2">
											<input type="text" class="form-control" id="supervisor"
												th:attrappend="id=${'' + taskItemDOStat.index}"
												name="supervisor" th:value="${taskItemDO.supervisor}"
												disabled="disabled"></input>
										</div>
										<label for="taskCreated"
											class="col-sm-2 col-lg-2 control-label">督办开始/创建时间</label>
										<div class="col-sm-3 col-lg-3">
											<div class="input-group date form_date" id="taskCreatedField"
												data-date="" data-date-format="yyyy-mm-dd">
												<input type="text" class="form-control requiredBorder"
													id="taskCreated"
													th:attrappend="id=${'' + taskItemDOStat.index}"
													name="taskCreated" th:value="${taskItemDO.taskCreated}"
													disabled="disabled" /> <span class="input-group-addon"><span
													class="glyphicon glyphicon-remove"></span></span> <span
													class="input-group-addon"><span
													class="glyphicon glyphicon-calendar"></span></span>
											</div>
										</div>

									</div>

									<div class="form-group">

										<label for="assignee" class="col-sm-2 col-lg-2 control-label">负责人/承办人</label>
										<div class="col-sm-4 col-lg-4">
											<input type="text" class="form-control requiredBorder"
												id="assignee"
												th:attrappend="id=${'' + taskItemDOStat.index}"
												name="assignee" th:value="${taskItemDO.assignee}"
												disabled="disabled"></input>
										</div>
										<label for="assigneeDept"
											class="col-sm-2 col-lg-2 control-label">负责/承办部门</label>
										<div class="col-sm-4 col-lg-4">
											<input type="text" class="form-control requiredBorder"
												id="assigneeDept"
												th:attrappend="id=${'' + taskItemDOStat.index}"
												name="assigneeDept" th:value="${taskItemDO.assigneeDept}"
												disabled="disabled"></input>
										</div>



									</div>
									<div class="form-group">

										<label for="assist" class="col-sm-2 col-lg-2 control-label">协助部门/人</label>
										<div class="col-sm-4 col-lg-4">
											<input type="text" class="form-control" id="assist"
												th:attrappend="id=${'' + taskItemDOStat.index}"
												name="assist" th:value="${taskItemDO.assist}"
												disabled="disabled"></input>
										</div>
										<label for="taskDuedate"
											class="col-sm-2 col-lg-2 control-label">完成时间/到期日</label>
										<div class="col-sm-4 col-lg-4">

											<div class="input-group date form_date" id="taskDuedateField"
												data-date="" data-date-format="yyyy-mm-dd">
												<input type="text" class="form-control requiredBorder"
													id="taskDuedate"
													th:attrappend="id=${'' + taskItemDOStat.index}"
													name="taskDuedate" th:value="${taskItemDO.taskDuedate}"
													disabled="disabled" /> <span class="input-group-addon"><span
													class="glyphicon glyphicon-remove"></span></span> <span
													class="input-group-addon"><span
													class="glyphicon glyphicon-calendar"></span></span>
											</div>
										</div>



									</div>



								</form>


							</div>
						</div>
					</div>




				</div>

			</div>

		</div>
		
		
		
		<div th:replace="workitem/maintainsub :: infoModalUpdateTaskItem"></div>
		
		<div th:replace="workitem/maintainsub :: infoModalCancelTaskItem"></div>
		
		





	</div>

</body>
</html>
