<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content=""></meta>
<meta name="author" content=""></meta>



<title>督办系统</title>


</head>

<body>



	<div class="row" th:fragment="infoModalUpdateTaskItem">
		<div class="modal fade bs-example-modal-sm"
			id="infoModalUpdateTaskItem" tabindex="-1" role="dialog"
			aria-labelledby="mySmallModalLabel">
			<div class="modal-dialog modal-sm" role="document">
				<div class="modal-content">

					<div class="modal-header customBackgroundColor">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="mySmallModalLabel">
							<span class="glyphicon glyphicon-info-sign"></span>提示信息
						</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12 col-lg-12" id="inftoUpdateTaskItem"></div>
						</div>

					</div>
					<div class="modal-footer">

						<button type="button" class="btn btn-success"
							id="closeUpdateTaskItemInfoModal"
							name="closeUpdateTaskItemInfoModal"
							onclick="closeUpdaeTaskItemInfoModal()">
							<span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>关闭/确认
						</button>

					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

	</div>
	<!--  -->
		<div class="row" th:fragment="infoModalCancelTaskItem">
		<div class="modal fade bs-example-modal-sm"
			id="infoModalCancelTaskItem" tabindex="-1" role="dialog"
			aria-labelledby="mySmallModalLabel">
			<div class="modal-dialog modal-sm" role="document">
				<div class="modal-content">

					<div class="modal-header customBackgroundColor">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="mySmallModalLabel">
							<span class="glyphicon glyphicon-info-sign"></span>取消-提示信息
						</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12 col-lg-12" id="inftoCancelTaskItem"></div>
						</div>

					</div>
					<div class="modal-footer">

						<button type="button" class="btn btn-success"
							id="closeCancelTaskItemInfoModal"
							name="closeCancelTaskItemInfoModal"
							onclick="closeCancelTaskItemInfoModal()">
							<span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>关闭/确认
						</button>

					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

	</div>

</body>
</html>
