<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content=""></meta>
<meta name="author" content=""></meta>



<title>督办系统</title>


</head>

<body>


	<!-- 新增工作项 -->
	<div class="row" th:fragment="workItemModalCenter">

		<!-- Modal -->
		<div class="modal fade" id="workItemModalCenter" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg"
				role="document">
				<div class="modal-content">
					<div class="modal-header customBackgroundColor">
						<div class="row">

							<div class="col-sm-6">
								<h4 class="modal-title" id="exampleModalLongTitle">
									<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>新增工作项
								</h4>
							</div>
							<div class="col-sm-6">
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</div>


					</div>
					<div class="modal-body">

						<form class="form-horizontal" id="add-workitem-form" method="POST"
							name="add-workitem-form" th:action="@{/wss/addworkitem}">

							<div class="form-group">

								<label for="workId" class="col-sm-2 col-lg-2 control-label">工作项编号</label>
								<div class="col-sm-4 col-lg-4">
									<input type="text" class="form-control" id="workId"
										name="workId" readonly="readonly"></input>
								</div>
								<label for="workType" class="col-sm-2 col-lg-2 control-label">工作项类型</label>
								<div class="col-sm-4 col-lg-4">
									<input type="text" class="form-control" id="workType"
										name="workType" style="display: none"></input> <input
										type="text" class="form-control" id="workTypeDesc"
										name="workTypeDesc" disabled="disabled"></input>
								</div>

							</div>
							<div class="form-group">

								<label for="workSummary" class="col-sm-2 col-lg-2 control-label">工作项描述</label>
								<div class="col-sm-10 col-lg-10">
									<input type="text" class="form-control" id="workSummary"
										name="workSummary"></input>
								</div>


							</div>
							<div class="form-group">

								<label for="workDescription"
									class="col-sm-2 col-lg-2 control-label">详细说明</label>
								<div class="col-sm-10 col-lg-10">
									<textarea class="form-control" id="workDescription" rows="3"
										name="workDescription"></textarea>
								</div>


							</div>

							<div class="form-group">

								<label for="reporter" class="col-sm-2 col-lg-2 control-label">录入人</label>
								<div class="col-sm-4 col-lg-4">
									<input type="text" class="form-control" id="reporter"
										name="reporter" readonly="readonly"></input>
								</div>
								<label for="created" class="col-sm-2 col-lg-2 control-label">录入时间</label>
								<div class="col-sm-4 col-lg-4">
									<input type="text" class="form-control" id="created"
										name="created" readonly="readonly"></input>
								</div>

							</div>

							<div class="form-group">

								<label for="fileAttachment"
									class="col-sm-2 col-lg-2 control-label">附件</label>
								<div class="col-sm-10 col-lg-10">
									<input type="file" multiple="multiple" class="form-control"
										id="fileAttachment" name="fileAttachment"></input>
								</div>


							</div>


						</form>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							style="display: none;" data-dismiss="modal">关闭/取消</button>
						<button type="button" class="btn btn-primary" id="saveBtn"
							name="saveBtn">
							<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>保存/新增
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- end modal -->


	</div>
	<!-- 工作项详情 -->
	<div class="row" th:fragment="workItemDetailModalCenter">

		<!-- Modal -->
		<div class="modal fade" id="workItemDetailModalCenter" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg"
				role="document">
				<div class="modal-content">
					<div class="modal-header customBackgroundColor">
						<div class="row">

							<div class="col-sm-6">
								<h4 class="modal-title" id="exampleModalLongTitle">
									<span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;工作项查看/维护
								</h4>
							</div>
							<div class="col-sm-6">
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</div>


					</div>
					<div class="modal-body">

						<iframe
							style="top: 0; bottom: 0; left: 0; width: 100%; height: 78vh; border: 1px solid #3e9ff8;"
							id="workifrm" name="workifrm" src=""></iframe>

					</div>

				</div>
			</div>
		</div>
		<!-- end modal -->


	</div>
	<!-- 新增任务项 -->
	<div class="row" th:fragment="taskItemModalCenter">

		<!-- Modal -->
		<div class="modal fade" id="taskItemModalCenter" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg"
				role="document">
				<div class="modal-content">
					<div class="modal-header customBackgroundColor">
						<div class="row">

							<div class="col-sm-6">
								<h4 class="modal-title" id="exampleModalLongTitle">
									<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>新增任务项
								</h4>
							</div>
							<div class="col-sm-6">
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</div>


					</div>
					<div class="modal-body">

						<form class="form-horizontal" id="add-taskitem-form" method="POST"
							name="add-workitem-form" th:action="@{/wss/addworkitem}">

							<div class="form-group">
								<label for="workIdForItem"
									class="col-sm-2 col-lg-2 control-label">工作项编号</label>
								<div class="col-sm-4 col-lg-4">
									<input type="text" class="form-control" id="workIdForItem"
										name="workIdForItem" disabled="disabled"></input>
								</div>
								<label for="workTaskNum" class="col-sm-2 col-lg-2 control-label">任务项序号</label>
								<div class="col-sm-4 col-lg-4">
									<input type="text" class="form-control" id="workTaskNum"
										name="workTaskNum" disabled="disabled"></input>
								</div>



							</div>
							<div class="form-group">

								<label for="taskSummary" class="col-sm-2 col-lg-2 control-label">任务项描述</label>
								<div class="col-sm-10 col-lg-10">
									<input type="text" class="form-control requiredBorder"
										id="taskSummary" name="taskSummary" placeholder="任务项描述--必填"></input>
								</div>


							</div>
							<div class="form-group">

								<label for="taskDescription"
									class="col-sm-2 col-lg-2 control-label">详细说明</label>
								<div class="col-sm-10 col-lg-10">
									<textarea class="form-control" id="taskDescription" rows="3"
										name="taskDescription"></textarea>
								</div>


							</div>

							<div class="form-group">

								<label for="reporterTaskItem"
									class="col-sm-2 col-lg-2 control-label">录入人</label>
								<div class="col-sm-2 col-lg-2">
									<input type="text" class="form-control" id="reporterTaskItem"
										name="reporterTaskItem" readonly="readonly"></input>
								</div>
								<label for="supervisor" class="col-sm-1 col-lg-1 control-label">督办人</label>
								<div class="col-sm-2 col-lg-2">

									<div class="input-group">
										<input type="text" class="form-control" id="supervisor"
											name="supervisor"></input> <span class="input-group-btn">
											<button class="btn btn-info" type="button"
												onclick="openOrgDialog('supervision')">
												<span class="glyphicon glyphicon-zoom-in"></span>
											</button>
										</span>
									</div>
									<!-- /input-group -->
								</div>
								<label for="taskCreated" class="col-sm-2 col-lg-2 control-label">督办开始/创建时间</label>
								<div class="col-sm-3 col-lg-3">
									<div class="input-group date form_date" id="taskCreatedField"
										data-date="" data-date-format="yyyy-mm-dd">
										<input type="text" class="form-control requiredBorder"
											id="taskCreated" name="taskCreated" required="required" /> <span
											class="input-group-addon"><span
											class="glyphicon glyphicon-remove"></span></span> <span
											class="input-group-addon"><span
											class="glyphicon glyphicon-calendar"></span></span>
									</div>
								</div>

							</div>

							<div class="form-group">

								<label for="assignee" class="col-sm-2 col-lg-2 control-label">负责人/承办人</label>
								<div class="col-sm-4 col-lg-4">
									<div class="input-group">

										<input type="text" class="form-control requiredBorder"
											id="assignee" name="assignee" placeholder="负责人--必填"></input>
										<span class="input-group-btn">
											<button class="btn btn-info" type="button"
												onclick="openOrgDialog('undertaker')">
												<span class="glyphicon glyphicon-zoom-in"></span>
											</button>
										</span>
									</div>

								</div>
								<label for="assigneeDept"
									class="col-sm-2 col-lg-2 control-label">负责/承办部门</label>
								<div class="col-sm-4 col-lg-4">
									<input type="text" class="form-control requiredBorder"
										id="assigneeDept" name="assigneeDept" placeholder="承办部门--必填"></input>
								</div>



							</div>
							<div class="form-group">

								<label for="assist" class="col-sm-2 col-lg-2 control-label">协助部门/人</label>
								<div class="col-sm-4 col-lg-4">
									<input type="text" class="form-control" id="assist"
										name="assist"></input>
								</div>
								<label for="taskDuedate" class="col-sm-2 col-lg-2 control-label">完成时间/到期日</label>
								<div class="col-sm-4 col-lg-4">

									<div class="input-group date form_date" id="taskDuedateField"
										data-date="" data-date-format="yyyy-mm-dd">
										<input type="text" class="form-control requiredBorder"
											id="taskDuedate" name="taskDuedate" required="required" /> <span
											class="input-group-addon"><span
											class="glyphicon glyphicon-remove"></span></span> <span
											class="input-group-addon"><span
											class="glyphicon glyphicon-calendar"></span></span>
									</div>
								</div>



							</div>



						</form>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							style="display: none;" data-dismiss="modal">关闭/取消</button>
						<button type="button" class="btn btn-primary" id="saveTaskItemBtn"
							name="saveTaskItemBtn">
							<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>保存/新增
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- end modal -->


	</div>


	<!-- 提示信息 -->
	<div class="row" th:fragment="infoModal">
		<div class="modal fade bs-example-modal-sm" id="infoModal"
			tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
			<div class="modal-dialog modal-sm" role="document">
				<div class="modal-content">

					<div class="modal-header customBackgroundColor">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="mySmallModalLabel">
							<span class="glyphicon glyphicon-info-sign"></span>提示信息
						</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12 col-lg-12"
								id="infoModalAddWorkItemModalBody"></div>
						</div>

					</div>
					<div class="modal-footer">

						<button type="button" class="btn btn-success"
							id="closeAddWorkItemModal" name="closeAddWorkItemModal">
							<span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>关闭/确认
						</button>

					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

	</div>
	<div class="row" th:fragment="infoModalTaskItem">
		<div class="modal fade bs-example-modal-sm" id="infoModalTaskItem"
			tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
			<div class="modal-dialog modal-sm" role="document">
				<div class="modal-content">

					<div class="modal-header customBackgroundColor">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="mySmallModalLabel">
							<span class="glyphicon glyphicon-info-sign"></span>提示信息
						</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12 col-lg-12" id="inftoAddTaskItem"></div>
						</div>

					</div>
					<div class="modal-footer">

						<button type="button" class="btn btn-success"
							id="closeTaskItemModal" name="closeTaskItemModal">
							<span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>关闭/确认
						</button>
						<button type="button" class="btn btn-warning" id="addNextTaskItem"
							name="addNextTaskItem">
							<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>再添加一项
						</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

	</div>

</body>
</html>
