<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content=""></meta>
<meta name="author" content=""></meta>

<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />

<title>督办系统</title>
<link rel="shortcut icon" th:href="@{/favicon.ico}" />
<!-- Bootstrap core CSS -->
<link th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<!-- vertical tabs css -->
<link
	th:href="@{/bootstrap-vertical-tabs-1.2.2/bootstrap.vertical-tabs.css}"
	rel="stylesheet"></link>
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css"
	th:href="@{/DataTables/DataTables-1.10.16/css/jquery.dataTables.min.css}"></link>
<link rel="stylesheet" type="text/css"
	th:href="@{/DataTables/FixedColumns-3.2.4/css/fixedColumns.dataTables.min.css}"></link>
<link rel="stylesheet" type="text/css"
	th:href="@{/DataTables/Buttons-1.5.1/css/buttons.dataTables.min.css}"></link>
<!-- DatePicker css -->
<link rel="stylesheet" type="text/css"
	th:href="@{/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css}"></link>
<!-- iCheck -->
<link rel="stylesheet" type="text/css"
	th:href="@{/icheck-1.x/skins/square/blue.css}"></link>
<!-- Loading CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/loading/loading.css}"></link>
<style type="text/css">
.customBackgroundColor {
	background-color: #3e9ff8
}

.requiredBorder {
	border: 1px solid red;
}

@media {
	.modal-lg {
		min-width: 1200px;
	}
}
</style>
<!-- jQuery -->
<script th:src="@{/jQuery3/jquery-3.3.1.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
<!-- datatables js -->
<script type="text/javascript"
	th:src="@{/DataTables/DataTables-1.10.16/js/jquery.dataTables.min.js}"></script>

<script type="text/javascript"
	th:src="@{/DataTables/Buttons-1.5.1/js/dataTables.buttons.min.js}"></script>

<script type="text/javascript"
	th:src="@{/DataTables/Buttons-1.5.1/js/buttons.flash.min.js}"></script>

<script type="text/javascript"
	th:src="@{/DataTables/JSZip-2.5.0/jszip.min.js}"></script>

<script type="text/javascript"
	th:src="@{/DataTables/pdfmake-0.1.32/pdfmake.min.js}"></script>

<script type="text/javascript"
	th:src="@{/DataTables/pdfmake-0.1.32/vfs_fonts.js}"></script>

<script type="text/javascript"
	th:src="@{/DataTables/Buttons-1.5.1/js/buttons.html5.min.js}"></script>

<script type="text/javascript"
	th:src="@{/DataTables/Buttons-1.5.1/js/buttons.print.min.js}"></script>

<script type="text/javascript"
	th:src="@{/DataTables/FixedColumns-3.2.4/js/dataTables.fixedColumns.min.js}"></script>
<!-- BootStrap Datepicker -->

<script type="text/javascript"
	th:src="@{/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js}"></script>
<script type="text/javascript"
	th:src="@{/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
<!-- iCheck -->
<script type="text/javascript" th:src="@{/icheck-1.x/icheck.js}"></script>
<!-- Custom JS -->

<script type="text/javascript" th:src="@{/wss/js/worklist.js}"></script>

</head>
<!-- 
 This default page is designed to support several defaults:
 1. Error pages generated by Spring Boot's error configuration receive
      $timestamp, $status, $error, $message as variables - see
      org.springframework.boot.actuate.web.BasicErrorController
 2. By default, error pages setup by SimpleMappingExceptionResolver receive
      $exception
 3. We have configured our SimpleMappingExceptionResolver to setup $ex
      instead, just to show it can be done.
 -->
<body>

	<div class="container-fluid">

		<div class="row">
			<div class="col-sm-12 col-lg-12">
				<div class="panel panel-danger">
					<div class="panel-heading">提示信息</div>
					<div class="panel-body">

						<h1>默认异常信息提示页面</h1>

						<!--  As we are using Thymeleaf, you might consider using
	      ${#httpServletRequest.requestURL}. But that returns the path
	      to this error page.  Hence we explicitly add the url to the
	      Model in some of the example code. -->
						<p th:if="${url}">
							<b>页面:</b> <span th:text="${url}">Page URL</span>
						</p>

						<p th:if="${timestamp}" id='created'>
							<b>发生时间:</b> <span th:text="${timestamp}">Timestamp</span>
						</p>

						<p th:if="${status}">
							<b>状态码:</b> <span th:text="${status}">status-code</span>
							<span th:if="${error}" th:text="'('+${error}+')'">error
								...</span>
						</p>

						<!--/* ${ex} is set by ourSimpleMappingExceptionResolver,
	       ${exception} or ${message} are set internally by Spring Boot. */-->
						<div
							th:if="${ex} or ${exception} or (${message} and ${message.length() != 0})">
							<b>异常原因:</b> <span th:if="${ex}" th:text="${ex}">exception
								...</span> <span th:if="${exception}" th:text="${exception}">exception
								...</span> <span th:if="${message} and ${message.length() != 0}"
								th:text="${message}">message ...</span>
							<blockquote>
								<i>Note: You would never generate a page that displays a
									Java exception to an end-user in a real application</i>
							</blockquote>
						</div>

						<p
							th:unless="${ex} or ${exception} or (${message} and ${message.length() != 0})">
							Cause unknown (no exception details available)</p>

						<p>
							You are seeing this error page due to Spring Boot (which returns
							a view called "error" in response to uncaught exceptions. Since
							we are using Thymeleaf this corresponds to the template
							<code>error.html</code>
							)
						</p>


					</div>
				</div>
			</div>
			<!-- /.col-lg-12 -->
		</div>




	</div>

</body>
</html>
